@media (min-width: 500px) {
	body {
		overflow: hidden;

		.card {
			min-width: 20.65rem;
			max-width: 21.65rem;
		}
	}
	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;

		.sedans {
			border-top-left-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
			border-top-right-radius: 0;
		}
		.luxury {
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0;
		}
	}
	.button {
		margin-top: 3rem;
	}
}
