@media (min-width: 992px) {
	.card {
		max-width: 21rem;
	}

	.cards {
		display: flex;
		justify-content: center;
		grid-auto-flow: column;

		.sedans {
			border-top-left-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
			border-top-right-radius: 0;
		}
		.luxury {
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0;
		}
	}
	.button {
		margin-top: 3rem;
	}
}
